* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*body {
    background: #1f242d;
}*/

a {
    color: #fff;
    text-decoration: none;

}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9px;
    /*background: slateblue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;

}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;

    }
}

.navbar .logo {
    font: 50px;
    font-weight: 700;
    color: #FFBF65;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 100;
    transition: .5s;
    display: inline-block;
}

.navbar ul li:hover a,
.navbar ul li:active a {
    color: #FFBF65;
    transform: scale(0.8);
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: min(5em, 8%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;

}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #FFBF65;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #FFBF65;
    color: #FFBF65;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #FFBF65;
    border: 2px solid #FFBF65;
    border-radius: 40px;
    box-shadow: 0 0 10px #FFBF65;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #FFBF65;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #FFBF65;
    border-radius: 50%;
    font-size: 20px;
    color: #FFBF65;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #FFBF65;
    color: #1f242d;
    box-shadow: 0 0 10px #FFBF65;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent,
            transparent, #FFBF65);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;

}

.home-img .img-box .img-item img {
    position: relative;
    top: 30px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    mix-blend-mode: lighten;
    filter: grayscale(100%);
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}

/*About Us Style section*/
.about-us {
    background: #1f242d;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.about-box p {
    font: bold;
    color: gray;

}

.about-box h1 {
    color: #fff;
}

/*Home section*/

.carousel {
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;

}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 8s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    width: 100%;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .navbar {
        flex-direction: column;
    }
}